<%-include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil esse dolor, fuga accusamus similique molestias incidunt debitis sed optio repellendus eveniet ad consequatur iure quos blanditiis quaerat tempore! Ad, esse.</p>

<%-include("footer") -%>